#cloud-config

mounts:
  - - /dev/disk/by-id/scsi-0HC_Volume_{{ .VolumeID }}
    - /home/{{ .Username }}
    - ext4
    - discard,nofail,defaults
    - "0"
    - "0"
packages:
  - curl
  - ufw
package_reboot_if_required: false
package_update: false
runcmd:
  # Secure SSHD
  - [
      sed,
      -i,
      -e,
      "s/^PermitRootLogin yes/PermitRootLogin no/",
      "/etc/ssh/sshd_config",
    ]
  - [service, sshd, restart]
  - [rm, -f, /root/.ssh/authorized_keys]
  # Secure UFW
  - ufw allow ssh
  - ufw enable
  # Install Docker
  - if docker ; then echo "Docker already installed"; else curl -fsSL https://get.docker.com | sh; fi
  - systemctl restart docker
timezone: UTC
users:
  - name: "{{ .Username }}"
    gecos: DevPod
    groups:
      - docker
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    shell: /bin/bash
    ssh_authorized_keys:
      - "{{ .PublicKey }}"
write_files:
  - path: /etc/docker/daemon.json
    content: |
      {
        "features": {
          "buildkit": true
        },
        "live-restore": true
      }
